# Ações

- Criar um dataframe referente a uma escola contendo id, nome, matricula, sexo, idade,  3 notas, media,recuperacao,media final e se está aprovado 
- importar o dataframe
- criar lista com ordem alfabética sem a coluna id
- exportar a lista tratada
- ordenar pela media 
- criar listas das 10 melhores notas de cada trimestre
- criar lista com as 5 meninas com as melhores medias e depois criar outra para os meninos
- criar 2 listas para aprovado e reprovado respectivamente
- criar lista todas as idades dos alunos na escola e quantos alunos de cada idade

In [1]:
import pandas as pd

# importar o dataframe

In [4]:
dados = pd.read_csv('dados/alunos.csv', sep=';')
dados

,Id,Nome,Matricula,Sexo,Idade,Nota 1,Nota 2,Nota 3,Média,Recuperação,Média Final,Situação
0,1,Alana Maria,2019000121,F,16,10,9,5,8,NaN,8.0,APROVADO
1,2,Pedro Paulo,2019000122,M,17,4,7,9,7,NaN,7.0,APROVADO
2,3,Carlina Matos,2019000123,F,15,6,4,8,6,5.0,5.5,REPROVADO
3,4,Flavio Andrade,2019000124,M,17,8,5,8,7,NaN,7.0,APROVADO
4,5,Penolope Cruz,2019000125,F,17,5,10,4,6,6.0,6.0,APROVADO
5,6,Arnaldo José,2019000126,M,16,8,8,5,7,NaN,7.0,APROVADO
6,7,Rafaela Queiroz,2019000127,F,16,8,8,9,8,NaN,8.0,APROVADO
7,8,Matheus Carvalho,2019000128,M,16,4,6,5,5,10.0,7.5,APROVADO
8,9,Flávia Vivian,2019000129,F,16,9,9,6,8,NaN,8.0,APROVADO
9,10,Rafael Medeiros,2019000130,M,16,6,6,8,7,NaN,7.0,APROVADO
10,11,Ilana Medeiros,2019000131,F,15,7,9,10,9,NaN,9.0,APROVADO
11,12,Juliana Cardoso,2019000132,F,16,7,9,8,8,NaN,8.0,APROVADO
12,13,Kelly do Nascimento,2019000133,F,14,5,5,9,6,6.0,6.0,APROVADO
13,14,Viviane de Oliveira,2019000134,F,18,10,6,7,8,NaN,8.0,APROVADO
14,15,José Rafael,2019000135,M,17,6,9,6,7,NaN,7.0,APROVADO
15,16,Elton Matias,2019000136,M,16,8,7,4,6,5.0,5.5,REPROVADO
16,17,Lee Xian,2019000137,M,16,9,7,10,9,NaN,9.0,APROVADO
17,18,Bruno Tavares,2019000138,M,16,8,6,6,7,NaN,7.0,APROVADO
18,19,Nathalia Gardenia,2019000139,F,16,5,9,4,6,4.0,5.0,REPROVADO
19,20,Fernando Munhoz,2019000140,M,16,9,10,5,8,NaN,8.0,APROVADO

# criar lista com ordem alfabética sem a coluna id

In [28]:
dados_semId = dados.iloc[:, 1:]
dados_ordenados = dados_semId.sort_values(by='Nome')
dados_ordenados.index = range(dados_semId.shape[0])
dados_ordenados

,Nome,Matricula,Sexo,Idade,Nota 1,Nota 2,Nota 3,Média,Recuperação,Média Final,Situação
0,Alana Maria,2019000121,F,16,10,9,5,8,NaN,8.0,APROVADO
1,Arnaldo José,2019000126,M,16,8,8,5,7,NaN,7.0,APROVADO
2,Bruno Tavares,2019000138,M,16,8,6,6,7,NaN,7.0,APROVADO
3,Carlina Matos,2019000123,F,15,6,4,8,6,5.0,5.5,REPROVADO
4,Elton Matias,2019000136,M,16,8,7,4,6,5.0,5.5,REPROVADO
5,Fernando Munhoz,2019000140,M,16,9,10,5,8,NaN,8.0,APROVADO
6,Flavio Andrade,2019000124,M,17,8,5,8,7,NaN,7.0,APROVADO
7,Flávia Vivian,2019000129,F,16,9,9,6,8,NaN,8.0,APROVADO
8,Ilana Medeiros,2019000131,F,15,7,9,10,9,NaN,9.0,APROVADO
9,José Rafael,2019000135,M,17,6,9,6,7,NaN,7.0,APROVADO
10,Juliana Cardoso,2019000132,F,16,7,9,8,8,NaN,8.0,APROVADO
11,Kelly do Nascimento,2019000133,F,14,5,5,9,6,6.0,6.0,APROVADO
12,Lee Xian,2019000137,M,16,9,7,10,9,NaN,9.0,APROVADO
13,Matheus Carvalho,2019000128,M,16,4,6,5,5,10.0,7.5,APROVADO
14,Nathalia Gardenia,2019000139,F,16,5,9,4,6,4.0,5.0,REPROVADO
15,Pedro Paulo,2019000122,M,17,4,7,9,7,NaN,7.0,APROVADO
16,Penolope Cruz,2019000125,F,17,5,10,4,6,6.0,6.0,APROVADO
17,Rafael Medeiros,2019000130,M,16,6,6,8,7,NaN,7.0,APROVADO
18,Rafaela Queiroz,2019000127,F,16,8,8,9,8,NaN,8.0,APROVADO
19,Viviane de Oliveira,2019000134,F,18,10,6,7,8,NaN,8.0,APROVADO

# exportar a lista tratada

In [34]:
dados_ordenados.to_csv('dados/dados_tratados.csv', sep=';', index = False)

# ordenar pela media

In [38]:
dados = dados_ordenados
dados_ordenados_media = dados.sort_values(by="Média Final", ascending=False)
dados_ordenados_media

,Nome,Matricula,Sexo,Idade,Nota 1,Nota 2,Nota 3,Média,Recuperação,Média Final,Situação
12,Lee Xian,2019000137,M,16,9,7,10,9,NaN,9.0,APROVADO
8,Ilana Medeiros,2019000131,F,15,7,9,10,9,NaN,9.0,APROVADO
0,Alana Maria,2019000121,F,16,10,9,5,8,NaN,8.0,APROVADO
7,Flávia Vivian,2019000129,F,16,9,9,6,8,NaN,8.0,APROVADO
18,Rafaela Queiroz,2019000127,F,16,8,8,9,8,NaN,8.0,APROVADO
10,Juliana Cardoso,2019000132,F,16,7,9,8,8,NaN,8.0,APROVADO
5,Fernando Munhoz,2019000140,M,16,9,10,5,8,NaN,8.0,APROVADO
19,Viviane de Oliveira,2019000134,F,18,10,6,7,8,NaN,8.0,APROVADO
13,Matheus Carvalho,2019000128,M,16,4,6,5,5,10.0,7.5,APROVADO
6,Flavio Andrade,2019000124,M,17,8,5,8,7,NaN,7.0,APROVADO
9,José Rafael,2019000135,M,17,6,9,6,7,NaN,7.0,APROVADO
1,Arnaldo José,2019000126,M,16,8,8,5,7,NaN,7.0,APROVADO
15,Pedro Paulo,2019000122,M,17,4,7,9,7,NaN,7.0,APROVADO
17,Rafael Medeiros,2019000130,M,16,6,6,8,7,NaN,7.0,APROVADO
2,Bruno Tavares,2019000138,M,16,8,6,6,7,NaN,7.0,APROVADO
11,Kelly do Nascimento,2019000133,F,14,5,5,9,6,6.0,6.0,APROVADO
16,Penolope Cruz,2019000125,F,17,5,10,4,6,6.0,6.0,APROVADO
4,Elton Matias,2019000136,M,16,8,7,4,6,5.0,5.5,REPROVADO
3,Carlina Matos,2019000123,F,15,6,4,8,6,5.0,5.5,REPROVADO
14,Nathalia Gardenia,2019000139,F,16,5,9,4,6,4.0,5.0,REPROVADO

# criar listas das 10 melhores notas de cada trimestre

In [42]:
melhores_tri1 = dados.sort_values(by="Nota 1", ascending=False).head(10)
melhores_tri1

,Nome,Matricula,Sexo,Idade,Nota 1,Nota 2,Nota 3,Média,Recuperação,Média Final,Situação
0,Alana Maria,2019000121,F,16,10,9,5,8,NaN,8.0,APROVADO
19,Viviane de Oliveira,2019000134,F,18,10,6,7,8,NaN,8.0,APROVADO
5,Fernando Munhoz,2019000140,M,16,9,10,5,8,NaN,8.0,APROVADO
7,Flávia Vivian,2019000129,F,16,9,9,6,8,NaN,8.0,APROVADO
12,Lee Xian,2019000137,M,16,9,7,10,9,NaN,9.0,APROVADO
2,Bruno Tavares,2019000138,M,16,8,6,6,7,NaN,7.0,APROVADO
1,Arnaldo José,2019000126,M,16,8,8,5,7,NaN,7.0,APROVADO
4,Elton Matias,2019000136,M,16,8,7,4,6,5.0,5.5,REPROVADO
6,Flavio Andrade,2019000124,M,17,8,5,8,7,NaN,7.0,APROVADO
18,Rafaela Queiroz,2019000127,F,16,8,8,9,8,NaN,8.0,APROVADO

In [43]:
melhores_tri2 = dados.sort_values(by="Nota 2", ascending=False).head(10)
melhores_tri2

,Nome,Matricula,Sexo,Idade,Nota 1,Nota 2,Nota 3,Média,Recuperação,Média Final,Situação
16,Penolope Cruz,2019000125,F,17,5,10,4,6,6.0,6.0,APROVADO
5,Fernando Munhoz,2019000140,M,16,9,10,5,8,NaN,8.0,APROVADO
0,Alana Maria,2019000121,F,16,10,9,5,8,NaN,8.0,APROVADO
7,Flávia Vivian,2019000129,F,16,9,9,6,8,NaN,8.0,APROVADO
14,Nathalia Gardenia,2019000139,F,16,5,9,4,6,4.0,5.0,REPROVADO
9,José Rafael,2019000135,M,17,6,9,6,7,NaN,7.0,APROVADO
8,Ilana Medeiros,2019000131,F,15,7,9,10,9,NaN,9.0,APROVADO
10,Juliana Cardoso,2019000132,F,16,7,9,8,8,NaN,8.0,APROVADO
1,Arnaldo José,2019000126,M,16,8,8,5,7,NaN,7.0,APROVADO
18,Rafaela Queiroz,2019000127,F,16,8,8,9,8,NaN,8.0,APROVADO

In [44]:
melhores_tri3 = dados.sort_values(by="Nota 3", ascending=False).head(10)
melhores_tri3

,Nome,Matricula,Sexo,Idade,Nota 1,Nota 2,Nota 3,Média,Recuperação,Média Final,Situação
12,Lee Xian,2019000137,M,16,9,7,10,9,NaN,9.0,APROVADO
8,Ilana Medeiros,2019000131,F,15,7,9,10,9,NaN,9.0,APROVADO
11,Kelly do Nascimento,2019000133,F,14,5,5,9,6,6.0,6.0,APROVADO
18,Rafaela Queiroz,2019000127,F,16,8,8,9,8,NaN,8.0,APROVADO
15,Pedro Paulo,2019000122,M,17,4,7,9,7,NaN,7.0,APROVADO
10,Juliana Cardoso,2019000132,F,16,7,9,8,8,NaN,8.0,APROVADO
3,Carlina Matos,2019000123,F,15,6,4,8,6,5.0,5.5,REPROVADO
17,Rafael Medeiros,2019000130,M,16,6,6,8,7,NaN,7.0,APROVADO
6,Flavio Andrade,2019000124,M,17,8,5,8,7,NaN,7.0,APROVADO
19,Viviane de Oliveira,2019000134,F,18,10,6,7,8,NaN,8.0,APROVADO

# criar lista com as 5 meninas com as melhores medias e depois criar outra para os meninos

In [54]:
selecao = dados['Sexo'] == 'M'
melhores_meninos = dados[selecao].sort_values(by = "Média Final", ascending = False).head()
melhores_meninos

,Nome,Matricula,Sexo,Idade,Nota 1,Nota 2,Nota 3,Média,Recuperação,Média Final,Situação
12,Lee Xian,2019000137,M,16,9,7,10,9,NaN,9.0,APROVADO
5,Fernando Munhoz,2019000140,M,16,9,10,5,8,NaN,8.0,APROVADO
13,Matheus Carvalho,2019000128,M,16,4,6,5,5,10.0,7.5,APROVADO
1,Arnaldo José,2019000126,M,16,8,8,5,7,NaN,7.0,APROVADO
2,Bruno Tavares,2019000138,M,16,8,6,6,7,NaN,7.0,APROVADO

In [56]:
selecao = dados['Sexo'] == 'F'
melhores_meninas = dados[selecao].sort_values(by = 'Média Final', ascending = False).head()
melhores_meninas

,Nome,Matricula,Sexo,Idade,Nota 1,Nota 2,Nota 3,Média,Recuperação,Média Final,Situação
8,Ilana Medeiros,2019000131,F,15,7,9,10,9,NaN,9.0,APROVADO
0,Alana Maria,2019000121,F,16,10,9,5,8,NaN,8.0,APROVADO
7,Flávia Vivian,2019000129,F,16,9,9,6,8,NaN,8.0,APROVADO
10,Juliana Cardoso,2019000132,F,16,7,9,8,8,NaN,8.0,APROVADO
18,Rafaela Queiroz,2019000127,F,16,8,8,9,8,NaN,8.0,APROVADO

# criar 2 listas para aprovado e reprovado respectivamente

In [60]:
selecao = dados['Situação'] == 'APROVADO'
lista_aprovados = dados[selecao]
lista_aprovados

,Nome,Matricula,Sexo,Idade,Nota 1,Nota 2,Nota 3,Média,Recuperação,Média Final,Situação
0,Alana Maria,2019000121,F,16,10,9,5,8,NaN,8.0,APROVADO
1,Arnaldo José,2019000126,M,16,8,8,5,7,NaN,7.0,APROVADO
2,Bruno Tavares,2019000138,M,16,8,6,6,7,NaN,7.0,APROVADO
5,Fernando Munhoz,2019000140,M,16,9,10,5,8,NaN,8.0,APROVADO
6,Flavio Andrade,2019000124,M,17,8,5,8,7,NaN,7.0,APROVADO
7,Flávia Vivian,2019000129,F,16,9,9,6,8,NaN,8.0,APROVADO
8,Ilana Medeiros,2019000131,F,15,7,9,10,9,NaN,9.0,APROVADO
9,José Rafael,2019000135,M,17,6,9,6,7,NaN,7.0,APROVADO
10,Juliana Cardoso,2019000132,F,16,7,9,8,8,NaN,8.0,APROVADO
11,Kelly do Nascimento,2019000133,F,14,5,5,9,6,6.0,6.0,APROVADO
12,Lee Xian,2019000137,M,16,9,7,10,9,NaN,9.0,APROVADO
13,Matheus Carvalho,2019000128,M,16,4,6,5,5,10.0,7.5,APROVADO
15,Pedro Paulo,2019000122,M,17,4,7,9,7,NaN,7.0,APROVADO
16,Penolope Cruz,2019000125,F,17,5,10,4,6,6.0,6.0,APROVADO
17,Rafael Medeiros,2019000130,M,16,6,6,8,7,NaN,7.0,APROVADO
18,Rafaela Queiroz,2019000127,F,16,8,8,9,8,NaN,8.0,APROVADO
19,Viviane de Oliveira,2019000134,F,18,10,6,7,8,NaN,8.0,APROVADO

In [67]:
selecao = dados['Situação'] == 'REPROVADO'
lista_reprovados = dados[selecao]
lista_reprovados

,Nome,Matricula,Sexo,Idade,Nota 1,Nota 2,Nota 3,Média,Recuperação,Média Final,Situação
3,Carlina Matos,2019000123,F,15,6,4,8,6,5.0,5.5,REPROVADO
4,Elton Matias,2019000136,M,16,8,7,4,6,5.0,5.5,REPROVADO
14,Nathalia Gardenia,2019000139,F,16,5,9,4,6,4.0,5.0,REPROVADO

# criar lista todas as idades dos alunos na escola e quantos alunos de cada idade

In [75]:
idades = dados['Idade'].sort_values().drop_duplicates()
idades

11    14
3     15
0     16
16    17
19    18
Name: Idade, dtype: int64